.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: black;

  min-height: 100vh;
  padding: 40px;
}

.main-heading {
  color: #05acff;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
}

.main-heading:hover {
  font-size: 30px;
}
